@media(min-width: 300px) {
    .libraryContainer {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .bookTitle {
        display: flex;
        flex-direction: column;
        font-family: 'Bilbo Swash Caps', cursive;
        font-size: 1.25rem;
        /* margin: auto; */
        text-indent: 5px;

    }

    ul.bookUl {
        padding-right: 5px;
        margin: 5px 5px;
    }

    .listItem {
        font-family: 'Maitree', serif;
        font-size: .75em;
        list-style-type: disc;
        margin-left: 25px;
    }
}

.addBookContainer, .addBookForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-items: flex-end;
}

.addBookForm {
    display: none;
    background-color: #C5EBC3;
    border: medium double #18421c;
    padding: 5px;
}

.addBookForm > input {
    flex-basis: 1;
    margin: 2px;
}

label {
    margin: 1px 3px;
}

#addBook, .submit {
    background-color: rgb(69, 194, 102);
    font: italic small-caps bold 16px/2 cursive;
    margin: 5px 0px;
    padding: 0px 6px;
}

.deleteButton {
    background-color: rgb(207, 87, 87);
    font: italic small-caps bold 16px/2 cursive;
    align-self: flex-end;
    margin: 5px 0px;
    padding: 0px 6px;
}

html {
    height: 100%;
    background-color: #A790A5;
    background-size: cover;
}

#mainHeading {
  background-color: #54414E;
  border: 4mm ridge #875C74;
  color: #C5EBC3;
  font-family: 'Hind', sans-serif;
  padding: 30px;
  text-align: center;
}


.bookUl {
    border: medium double #875C74;
    display: flex;
    flex-direction: column;
}

ul > li {
    list-style-type: none;
    
    font-weight: bold;
}

ul { 
    padding: 0px;
    margin-block-start: 0em;
    margin-block-end: 1em;
    background-color: #B7C8B5;
}