@media(min-width: 300px) {
    .libraryContainer {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .bookTitle {
        display: flex;
        flex-direction: column;
        font: bold italic 1.5em "Fira Sans", serif;
        /* margin: auto; */
        text-indent: 5px;

    }

    ul.bookUl {
        padding-right: 5px;
        margin: 5px 5px;
    }

    .listItem {
        font-size: .75em;
        list-style-type: disc;
        margin-left: 25px;
        font: normal .75em "Fira Sans", serif;
    }
}

.addBookContainer, .addBookForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-items: flex-end;
}

.addBookForm {
    display: none;
    background-color: #b6e7ba;
    border: medium double #18421c;
    padding: 5px;
}

.addBookForm > input {
    flex-basis: 1;
    margin: 2px;
}

label {
    margin: 1px 3px;
}

#addBook, .submit {
    background-color: rgb(69, 194, 102);
    font: italic small-caps bold 16px/2 cursive;
    margin: 5px 0px;
    padding: 0px 6px;
}

.deleteButton {
    background-color: rgb(207, 87, 87);
    font: italic small-caps bold 16px/2 cursive;
    align-self: flex-end;
    margin: 5px 0px;
    padding: 0px 6px;
}

html {
    height: 100%;
    background: content-box radial-gradient(rgb(138, 98, 46), rgb(235, 208, 135));
    background-image: url('library_books_knowledge_information.jpg');
    background-size: cover;
}

#mainHeading {
    text-align: center;
    background-color: #dbc394;
    padding: 30px;
    border: 4mm ridge rgba(80, 50, 5, 0.63);
}


.bookUl {
    border: medium double #33210c;
    display: flex;
    flex-direction: column;
}

ul > li {
    list-style-type: none;
    font-weight: bold;
}

ul { 
    padding: 0px;
    margin-block-start: 0em;
    margin-block-end: 1em;
    background-color: #dbc394;
}